<div class="list-item_container">
    <div class="navigation-container">
        <a routerLink="/list">
            <button mat-mini-fab aria-label="Example icon button with a filter list icon">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </a>
        
        <div class="text">
            Go Back
        </div>
    </div>
    <div class="action-container">
        <div class="left-container">
            <div class="text">
                Status
            </div>
  
            <div *ngIf="invoice?.status" class="status" [ngClass]="{'paid': checkStatusId(invoice?.status)==='Paid', 'pending': checkStatusId(invoice?.status)==='Pending'}">
                <div class="background" [ngClass]="{'paid': checkStatusId(invoice?.status)==='Paid', 'pending': checkStatusId(invoice?.status)==='Pending'}">
                    
                </div>
                <div class="text">
                    <div class="dot"></div>
                    {{checkStatusId(invoice?.status)}}
                </div>
            </div>
        </div>
        <div class="right-container">
            <button mat-flat-button class="edit">Edit</button>
            <button mat-flat-button class="delete">Delete</button>
            <button mat-flat-button class="paid">Mark as Paid</button>
        </div>
    </div>
    <div class="action-container">
        <div class="parent">
            
            <div class="left-container-grid">

                <h2 class="id">
                #{{invoice?.id}}
                </h2>

                <div class="description">
                    {{invoice?.project_description}}
                </div>

            </div>
            <div class="right-container-grid">
               <div class="address">
                <div class="from-address">
                    {{invoice?.from_street_address}}
                </div>
                <div class="from-city">
                    {{invoice?.from_city}}
                </div>
                <div class="from-post-code">
                    {{invoice?.from_post_code}}
                </div>
                <div class="from-country">
                    {{invoice?.from_country}}
                </div>
               </div>
            </div>
        </div>
    </div>
</div>