.navigation-container {
    display:flex;
    align-items: center;
    color: var(--08, #0C0E16);
    font-family: League Spartan;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 100% */
    letter-spacing: -0.25px;
    .text {
        margin-left: 10px;
    }
    button.mdc-fab.mdc-fab--mini.mat-mdc-mini-fab.mat-accent.mat-mdc-button-base {
        background: transparent;
        box-shadow: none;
        mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
            color: #7C5DFA;
        }
    }
}
.action-container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    .left-container {
        display: flex;
        align-items: center;
    }
}

.list-item_container {
    width: 730px;
}

.status.paid .text {
    .dot {
        width: 8px;
        height: 8px;
        margin: 3px 8px 4px 0;
        background-color: #33d69f !important;
        border-radius: 30px;
    }
    width: 44px !important;
    margin-left:68px !important;
    color:#33d69f !important;
}

.status .pending {
    width: 67px;
    height: 13px;
    flex-grow: 0;
    margin: 0 20px 0 40px;
    padding: 14px 19px 11px 18px;
    opacity: 0.06;
    border-radius: 6px;
    background-color: #ff8f00;
}
.status .paid {
    width: 67px;
    height: 13px;
    flex-grow: 0;
    margin: 0 20px 0 40px;
    padding: 14px 19px 11px 18px;
    opacity: 0.06;
    border-radius: 6px;
    background-color: #33d69f
}
.status .text {
    .dot {
        width: 8px;
        height: 8px;
        margin: 3px 8px 4px 0;
        background-color: #ff8f00;
        border-radius: 30px;
    }
    position: absolute;
    display: flex;
    margin-top: -26px;
    margin-left: 53px;
    font-family: League Spartan;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.25px;
    text-align: left;
    color: #ff8f00;
    width: 77px;
    justify-content: space-between;
}
.action-container .left-container .text {
    color: #858BB2;
    font-family: League Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}
.address-from-info {
    width: 100%;
    display:flex;
    margin-top: 40px;
}
.invoice_details-middle .invoice_to-details .address {
    text-align: left !Important;
}
.invoice_details-left .invoice_date {
    color: var(--08, #0C0E16);
    font-family: League Spartan;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.25px;
}

.invoice_details-left .text {
    color: var(--08, #0C0E16);
    font-family: League Spartan;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.25px;
}
.invoice_details-right .invoice-sent_details .text.name {
    color: var(--08, #0C0E16);
    font-family: League Spartan;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
}
.info-container {
    background: #fff;
    padding: 45px;
    border-radius: 10px;
    margin-top: 20px;
    .address-info {
        display: flex;
        justify-content: space-between;
    }
    .address {
        color: var(--07, #7E88C3);
        text-align: right;
        font-family: League Spartan;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.1px;
    }
}
.address-info {
    
    .left-container-grid h2.id {
        color: var(--08, #0C0E16);
        font-family: League Spartan;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.25px;
    }
    .description {
        color: var(--07, #7E88C3);
        font-family: League Spartan;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: -0.1px;
    }
    
}
.invoice_details-left .payment-due {
    margin-top: 20px;
}
.invoice_details-middle .invoice_to-details .text.name {
    color: var(--08, #0C0E16);
    font-family: League Spartan;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.25px;
}
.invoice_details-left {
    margin-right: 15%;
}
.invoice_details-middle {
    margin-right: 15%;
}
.address-from-info .header-text {
    color: var(--07, #7E88C3);
    font-family: League Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 115.385% */
    letter-spacing: -0.1px;
    margin-bottom: 15px;
}
.action-container .right-container {
    button.edit {
        border-radius: 24px;
        background: #F9FAFE;
        color:#7E88C3;
        margin-right:8px;
    }
    button.delete {
        border-radius: 24px;
        background: #EC5757;
        color:#fff;
        margin-right:8px;
    }
    button.paid {
        border-radius: 24px;
        color: #fff;
        background: #7C5DFA;
    }
}
