<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <div class="inner-container">
        <div class="inner-left">
          <div class="logo">
            <img src="../assets/images/Group 9.svg" alt="">
          </div>
          <div class="theme_toggle">
            <button mat-icon-button aria-label="toggle between day and night theme">
              <mat-icon>
                <img src="../assets/images/knight-logo.svg" alt="">
              </mat-icon>
            </button>
          </div>
          <div class="user-section">
            <img [src]="user.picture" class="image--cover">
          </div>
        </div>
      </div>
    </mat-drawer>
    
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>