.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141625;
}
form.login-form {
    background: #fff;
    padding: 50px;
    min-width: 300px;
    mat-form-field.example-full-width {
        width: 100%;
    }
}