<div class="filter-container">
    <div class="left-container">
        <h2>
            Invoices
        </h2>
        <p>There are {{invoices.length}} total invoices</p>
    </div>
    <div class="right-container">
        <div class="filter-button">
            <button mat-button [matMenuTriggerFor]="menu" class="filter-button">
                <div class="text">
                    Filter by status <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button mat-flat-button class="add-invoice"><mat-icon>add</mat-icon> <span class="button-text">New Invoice</span></button>
        </div>
    </div>
</div>

<div class="list-container">
    <div class="list-entry" *ngFor="let item of invoices">
        <div class="id">
            <span class="number">#</span>{{item.id}}
        </div>
        <div class="date">
            {{item.invoice_date}}
        </div>
        <div class="client">
            {{item.client_name}}
        </div>
        <div class="price">
            £ 1,800.90
        </div>
        <div class="status" [ngClass]="{'paid': checkStatusId(item.status)==='Paid', 'pending': checkStatusId(item.status)==='Pending'}">
            <div class="background" [ngClass]="{'paid': checkStatusId(item.status)==='Paid', 'pending': checkStatusId(item.status)==='Pending'}">
                
            </div>
            <div class="text">
                <div class="dot"></div>
                {{checkStatusId(item.status)}}
            </div>
        </div>
        <div class="arrow-div">
            <button mat-mini-fab aria-label="Example icon button with a filter list icon">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="empty-container" *ngIf="invoices.length === 0 || showLoader === true">
        <img src="../../../assets/images/no-invoices-svg.svg" alt="">
    </div>
</div>
<!-- https://angular.io/guide/deployment#server-configuration -->