<div class="invoice-item_container">
    <div class="parent">
        <div class="item">
            <div class="heading name">
                Item Name
            </div>
        </div>
        <div class="item">
            <div class="heading">
                QTY.
            </div>
        </div>
        <div class="item">
            <div class="heading">
                Price
            </div>
        </div>
        <div class="item">
            <div class="heading">
                Total
            </div>
        </div>
    </div>
    <div class="parent" *ngFor="let item of invoice_items">
        <div class="item entry name">
            <div class="text name">
                {{checkName(item)}}
            </div>
        </div>
        <div class="item entry">
            <div class="text qty">
                {{checkQty(item)}}
            </div>
        </div>
        <div class="item entry">
            <div class="text price">
                {{checkPrice(item)}}
            </div>
        </div>
        <div class="item entry">
            <div class="text total">
                {{checkTotal(item)}}
            </div>
        </div>
    </div>
    <div class="amount-due">
        <div class="text">
            Amount Due
        </div>
        <div class="amount">
            £ 556.00
        </div>
    </div>
</div>